# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# Test caches
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Editors
.vscode/
.idea/

# Operating system files
.DS_Store
